.contactList {
  width: 300px;

  border: 1px solid black;

  margin: 0 auto;
  padding: 0;

  display: flex;
  flex-direction: column;
}

.contactItem {
  margin-bottom: 10px;

  display: flex;
  justify-content: flex-end;
}
